body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.form-control:focus{
    box-shadow:none;
}
.dropdown-menu[data-bs-popper]{
    right:20% !important;
    left: unset;
}
.list-project{
    width: 1200px;
    margin:0 auto;
    margin-top:30px
}
.dropdown-toggle::after{
    display:none
}